*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

.hidden {
display: none;}

body {
  box-sizing: border-box;
  background-size: cover;
}

button {
  border: none;
  background: white;
  cursor: cell;
}

a, a:link, a:visited, a:focus {
  width: 100%;
  text-decoration:none;
  text-align: center;
  cursor: cell;
}
