@mixin hide {
  display: none;
}

@mixin reveal {
  display: block;
}

@mixin centerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  justify-content: center;
}

@mixin primaryBorder {
  border: solid .1px #d9d9d956; 
  box-shadow: 0 0 .75em #808080;
}

@mixin activeBorder {
  border: solid .1px $gray;
  background-color:$gray;
  color:black;
}

@mixin serviceContainer($col) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  height: 365px;
  margin-top: 20px; 
  overflow: auto; 
}

@mixin serviceScroll {
  background-color: transparent;
  width: 4px;
}

@mixin serviceScrollThumb {
  background-color: $gray;
  border-radius: 10px;
}